<div class="card">
  <div class="card-header">
    Lista de Vehículos
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Marca">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>
                <!-- <button class=" btn btn-success btn-xs" (click)="this.mostrarImagen = !this.mostrarImagen">Mostrar Imagen</button> -->
                <!-- <button class=" btn btn-success btn-xs" (click)="mostrar()">Mostrar Imagen</button> -->
                <!-- <button 
                class="btn btn-xs"
                [ngClass]="{'btn-success': mostrarImagen, 'btn-warning': !mostrarImagen}" (click)="mostrar()"
                [innerText]="mostrarImagen ? 'Ocultar Imagen' : 'Mostrar Imagen'">
                </button> -->
                <button class="btn btn-xs" [ngClass]="{'btn-success': mostrarImagen, 'btn-warning': !mostrarImagen}"
                  (click)="mostrar()">
                  {{mostrarImagen ? 'Ocultar' : 'Mostrar'}} Imagen
                </button>
              </th>
              <th>MARCA</th>
              <th>MODELO</th>
              <th>ANO</th>
              <th>COLOR</th>
              <th>KILOMETRAJE</th>
              <th>PRECIO</th>
              <th>CALIFICACIÓN</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let i of autos">
              <!-- <ng-container *ngIf="i.marca !== 'Toyota'"> -->
              <td> <img [src]="i.imagen" style="width: 80px;" *ngIf="this.mostrarImagen"></td>
              <td>{{i.marca}}</td>
              <td>{{i.modelo}}</td>
              <td [innerText]=" i.ano"></td>
              <td>{{i.color}}</td>
              <td>{{i.km}}</td>
              <td>{{i.precio | currency}}</td>
              <td>
                <app-calificacion [calificacion]="i.calificacion" (accionClick)="recepcion($event)"></app-calificacion>
              </td>
              <!-- </ng-container> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>